// Button Styling

button {
	color: white;
	background: $colorprimary;
	border-radius: $br;
	margin-top: 15px;
	padding: 15px 30px;
	border: none;
}

.button1 {
	margin-right: 30px;
}

.button3 {
	width: 50%;
	height: 35px;
	padding-bottom: 10px;
}